.about__video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: auto;
  video {
    width: 60%;
    min-width: 280px;
    align-self: center;
    margin-top: 30px;
    max-width: 700px;
  }
  h3 {
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.16px;
    color: #222222;
    margin: 20px 20px;
  }
}

.offerings {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  align-items: center;
  margin: auto;

  div {
    flex-direction: column;
    align-items: center;
    justify-content: center; /* center the items vertically */
    width: 100px;
    text-align: center;
    background-color: white;
    transition: background-color 0.3s; /* add transition for smoother hover effect */
    margin: auto;
    margin-top: 20px;

    img {
      margin-bottom: 20px;
    }
    .plane__png {
      filter: invert(81%) sepia(51%) saturate(300%) hue-rotate(359deg)
        brightness(90%) contrast(92%);
    }

    h6 {
      margin: 0;
      text-align: center;
    }

    /* hover effect */
    &:hover {
      background-color: #c3b292;
      color: white;

      img {
        filter: brightness(0) invert(1); /* invert color of the image */
      }
    }
  }
}

.restaurant {
  padding: 20px;
  background: #ffffff;
  margin-bottom: -120px;

  .square {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    img {
      margin: 20px auto;
      width: 280px;
    }
  }

  h6 {
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #777777;
  }

  h1 {
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 30px;
    line-height: 49px;
    letter-spacing: -1.05px;
    color: #222222;
  }

  p {
    margin-left: 20px;
    margin-right: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
  }

  button {
    margin-top: 26.8px;
    margin-left: 20px;
    color: white;
    background: #bead8e;
    border: none;
    padding: 21px 56px;
    letter-spacing: 3px;
    margin-bottom: 36px;
    margin-bottom: 75px;
  }
}

@media (min-width: 1000px) {
  .about__video {
    width: 74%;
    max-width: 1000px;
    margin: auto;
    video {
      width: 700px;
    }
    h3 {
      font-size: 44px;
      margin-top: 40px;
    }
  }

  .offerings {
    display: flex;
    margin-top: 50px;
    div {
      width: 100px;
    }
  }

  .restaurant {
    display: flex;
    margin-top: 50px;
    align-items: flex-start;
    box-shadow: 0px 14px 24px rgba(184, 184, 184, 0.1);
    margin: auto;
    width: 80%;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0;
    .square {
      margin-left: -10%;
      width: 1700px;
      img {
        width: 330px;
      }
    }
    .restaurant__div {
      margin-left: -120px;
      margin-top: 22px;
    }
  }

  .facilities__slider-black {
    background-color: #222222;
  }
}

.counter__prev {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  // .slider__container {
  //   display: flex;
  //   justify-content: center;
  //   width: 100%;
  //   align-items: center;

  //   .wide__slider {
  //     display: flex;
  //     margin: auto;
  //     justify-content: center;
  //     align-items: center;
  //     width: 100%;
  //   }
  // }
}

@media (min-width: 1000px) {
  .counter__prev {
    width: 80%;
    margin: auto;
    .counter {
      text-align: left;
      margin-left: 10%;
      h1 {
        font-size: 50px;
      }
      .counter__div {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: auto;
        margin-left: -9%;

        div {
          width: 50%;
        }
      }
    }
  }
}
