.about__us {
  margin-top: 60px;
  background: #f9f9f9;

  h6 {
    margin-left: 20px;
    padding-top: 30px;
    color: #777777;
    letter-spacing: 2.8px;
    font-size: 13px;
  }

  h1 {
    margin-left: 20px;
    margin-top: 32px;
    margin-right: 20px;
    font-size: 45px;
    color: #111111;
    font-weight: 400;
    margin-bottom: 16px;
  }

  p {
    margin-left: 20px;
    font-size: 14px;
    line-height: 24px;
    margin-right: 15px;
    color: #777;
  }

  button {
    margin-top: 46.8px;
    margin-left: 20px;
    color: white;
    background: #bead8e;
    border: none;
    padding: 21px 56px;
    letter-spacing: 3px;
    margin-bottom: 36px;
    margin-bottom: 175px;
  }
}
