.about__video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  video {
    width: 60%;
    min-width: 280px;
    align-self: center;
    margin-top: 30px;
    max-width: 700px;
  }
  h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.16px;
    color: #222222;
    margin: 20px 20px;
  }
}

.offerings {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  align-items: center;
  margin: 20px; /* add margin to the container */
  margin-top: 40px;
  gap: 0;

  div {
    flex-direction: column;
    align-items: center;
    justify-content: center; /* center the items vertically */
    padding: 10px;
    width: 30%;
    text-align: center;
    background-color: white;
    transition: background-color 0.3s; /* add transition for smoother hover effect */
    margin: auto;
    margin-top: 20px;

    img {
      margin-bottom: 20px;
    }
    .plane__png {
      filter: invert(81%) sepia(51%) saturate(300%) hue-rotate(359deg)
        brightness(90%) contrast(92%);
    }

    h6 {
      margin: 0;
    }

    /* hover effect */
    &:hover {
      background-color: #c3b292;
      color: white;

      img {
        filter: brightness(0) invert(1); /* invert color of the image */
      }
    }
  }
}

.restaurant {
  padding: 20px;
  background: #ffffff;
  margin-bottom: -120px;

  .square {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    img {
      margin: 20px auto;
      width: 50%;
      max-width: 400px;
    }
  }

  h6 {
    margin-left: 20px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #777777;
  }

  h1 {
    margin-left: 20px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -1.05px;
    color: #222222;
  }

  p {
    margin-left: 20px;
    margin-right: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
  }

  button {
    margin-top: 46.8px;
    margin-left: 20px;
    color: white;
    background: #bead8e;
    border: none;
    padding: 21px 56px;
    letter-spacing: 3px;
    margin-bottom: 36px;
    margin-bottom: 175px;
  }
}

@media (min-width: 1000px) {
  .about__video {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    video {
      width: 700px;
    }
    h3 {
      font-size: 38px;
      margin-top: 40px;
    }
  }

  .offerings {
    display: flex;
    div {
      width: 10%;
    }
  }

  .restaurant {
    display: flex;
    margin-top: 50px;
    align-items: center;
    box-shadow: 0px 14px 24px rgba(184, 184, 184, 0.1);
    margin: auto;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 80px;
    .square {
      margin-left: -10%;
      width: 1700px;
    }
    .restaurant__div {
      margin-top: 140px;
    }
  }

  .facilities__slider-black {
    background-color: #222222;
  }

  .slider__container {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
    width: 80%;
    margin-left: 6%;

    img {
      width: 400px;
      margin-right: 50px;
    }

    div {
      background-color: #292929;
      width: 90%;
    }
  }
}
