.contact {
  background-image: url("../images/background.png");
  margin-top: 100px;

  .logo__name {
    display: flex;
    margin-left: 20px;
    margin-top: 80px;
    align-items: center;
    margin-bottom: 60px;

    button {
      height: 80px;
      width: 80px;
      background-color: #bead8e;
      border: none;
      font-size: 40px;
      font-weight: 700;
      color: white;
      margin-right: 30px;
    }

    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 28px;
      letter-spacing: 2.6px;
      text-transform: uppercase;
      color: #111111;
    }

    span {
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 28px;
      letter-spacing: 2.6px;
      text-transform: uppercase;
      color: #111111;
    }
  }

  p {
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #777777;
    margin-right: 27px;
  }

  .social-media__logos {
    display: flex;
    margin-top: 30px;
    align-items: center;

    div {
      padding: 8px;
      background-color: #f8f8f8;
      margin: 10px;
    }

    .tw__div {
      padding: 8px;
      background-color: #bead8e;
    }
    img {
      width: 25px;
      height: 25px;
    }
  }

  h4 {
    margin-left: 20px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 50px;
  }

  .facilities__list {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      p {
        margin: 0;
        padding: 10px 0;
      }
    }
  }

  .contact__div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    h6 {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }

    p {
      font-size: 14px;
      margin: 0;
    }

    div {
      display: flex;
      align-items: flex-start;
      margin: 20px 0;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 20px;
      }
    }
  }
}

@media (min-width: 1000px) {
  .contact {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
    margin-right: 4%;
    .logo__div {
      width: 30%;
      margin-right: -110px;
    }

    .services {
      margin-top: 70px;
      text-align: left;
    }

    .info__div {
      margin-left: -150px;
      margin-top: 70px;
      h4 {
        margin-bottom: 20px;
      }
      div {
        margin-bottom: 10px;
      }
    }
  }
}
