.duplex__room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  background-color: white;
  width: 100%;
  max-width: 350px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;

  h3 {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 20px;
  }

  h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    color: #bead8e;
  }

  span {
    font-weight: 700;
    font-size: 13px;
    line-height: 43px;
    color: #bead8e;
  }
}
