body {
  position: relative;
  header {
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    .header__burger__icon {
      div {
        width: 20px;
        height: 2px;
        background-color: black;
        margin: 4px;
      }
    }

    .header__nav {
      display: none;
    }

    .header__div {
      display: flex;
      align-items: center;
      margin-right: 45px;
      margin-left: 24px;
      button {
        padding: 12px;
        margin-right: 14px;
        background: #ffffff;
        box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
        border: none;
        font-weight: 600;
        font-size: 14px;
      }
      div {
        font-size: 13px;
      }
    }

    .header__images__div {
      display: flex;
      img {
        height: 35px;
        width: 35px;
        margin-left: 20px;
        border: 1px solid rgb(185, 185, 185);
        padding: 10px;
      }
    }
  }
  .Header__div__separator {
    display: none;
  }

  @media (min-width: 1000px) {
    header {
      position: absolute;
      margin-left: 14%;
      margin-right: 0;
      z-index: 1000;
      width: 70%;
      top: 40px;
      .header__nav {
        display: block;
        ul {
          margin-left: -25%;
          a {
            margin-right: 20px;
          }
        }
      }
    }
    .header__burger__icon {
      display: none;
    }

    .Header__div__separator {
      display: block;
      background-color: black;
      padding: 40px;
      color: white;
      padding-left: 0px;
      p {
        margin-top: -30px;
        margin-left: 14%;
        color: white;
      }
    }
  }
}
