.form {
  background-color: #222222;
  color: white;
  padding-top: 38px;
  label {
    margin-left: 20px;
  }
  img {
    margin-left: 20px;
    margin-bottom: 5px;
  }

  input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #bead8e;
    margin-left: -20px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  button {
    margin-left: 20px;
    color: white;
    background: #bead8e;
    border: none;
    padding: 21px 28px;
    letter-spacing: 2px;
    margin-bottom: 36px;
  }
}

@media (min-width: 1000px) {
  form {
    display: flex;
    padding-left: 7%;
    padding-right: 7%;
    justify-content: space-around;
    margin-top: -250px;
  }
}

.about__us {
  margin-top: 60px;
  background: #f9f9f9;

  h6 {
    margin-left: 20px;
    padding-top: 30px;
    color: #777777;
    letter-spacing: 2.8px;
    font-size: 13px;
  }

  h1 {
    margin-left: 20px;
    margin-top: 32px;
    margin-right: 20px;
    font-size: 45px;
    color: #111111;
    font-weight: 400;
    margin-bottom: 16px;
  }

  p {
    margin-left: 20px;
    font-size: 14px;
    line-height: 24px;
    margin-right: 15px;
    color: #777;
  }

  button {
    margin-top: 46.8px;
    margin-left: 20px;
    color: white;
    background: #bead8e;
    border: none;
    padding: 21px 56px;
    letter-spacing: 3px;
    margin-bottom: 36px;
    margin-bottom: 175px;
  }
}

@media (min-width: 1000px) {
  .about__discovery {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
    position: relative;
    .about__us {
      width: 60%;
      padding: 20px;
      text-align: left;
      margin-right: 0;
      margin-left: 80px;
      padding-right: 15%;
      margin-top: 180px;

      p {
        margin-bottom: 0;
        margin-left: 50%;
      }
      button {
        margin-bottom: 110px;
        margin-left: 50%;
      }
      h1 {
        margin-left: 50%;
      }
      h6 {
        margin-left: 50%;
        margin-top: -100px;
      }
    }

    .discovery {
      position: absolute;
      display: grid;
      top: 0;
      left: 6%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "team gray1"
        "gray2 luxury";
      gap: 20px;
      width: 50%;
      padding: 20px;
      margin-right: 15%;

      .gray1,
      .gray2 {
        width: 100%;
        height: 250px;
        object-fit: cover;
        margin-top: 30px;
        margin-right: -30px;
        margin-bottom: 0;
        max-width: 300px;
      }
      .gray1 {
        grid-area: gray1;
        margin-left: 45px;
      }

      .gray2 {
        grid-area: gray2;
        margin-top: -10px;
      }

      .team__div {
        margin-right: -30px;
        margin-bottom: 0px;
        margin-bottom: 0px;
        max-width: 300px;
      }

      .discovery__luxury {
        width: 100%;
        margin-left: 40px;
        max-width: 300px;
      }
    }
  }
}

.rooms__div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  margin-top: 50px;

  .rooms__icon-ultimate {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    max-width: 200px;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translateX(-50%);
    img {
      padding: 6%;
      background-color: white;
      margin-bottom: 50px;
    }
  }
  .slider__prev,
  .slider__next {
    position: absolute;
    top: 62%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
  }

  .slider__prev {
    left: 7%;
  }

  .slider__next {
    right: 7%;
  }

  .slider__container {
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-bottom: 50px;
    position: relative;
  }

  .slick-dots {
    position: absolute;
    bottom: -25px; /* Adjust this value based on the desired distance from the slider */
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-top: 100px;
    padding-top: 50px;
  }

  h5 {
    text-align: center;
    margin-top: 60px;
    color: #777;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
  }

  h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 45px;
    color: #222;
    font-weight: 400;
    margin-bottom: 30px;
  }

  .rooms__icon {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    max-width: 200px;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    img {
      padding: 6%;
      background-color: white;
      margin-bottom: 50px;
    }
  }

  .slider__rooms {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-bottom: 20px;

    img {
      margin: auto;
      z-index: 0;
      width: 70%;
      max-width: 500px;
      min-width: 250px;
    }

    .duplex__room2 {
      display: none;
    }
  }
}

@media (min-width: 1000px) {
  .rooms__div {
    .slider__rooms {
      img {
        width: 90%;
      }
      .duplex__room2 {
        position: relative;
        background-color: white;
        margin: 0;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 70%;
        text-align: center;
        max-width: 600px;
        margin-left: 15%;
        margin-top: -70px;
        h3 {
          font-weight: 400;
          font-size: 28px;
          line-height: 36px;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          margin: 20px;
        }

        h4 {
          font-weight: 700;
          font-size: 32px;
          line-height: 43px;
          color: #bead8e;
        }

        span {
          font-weight: 700;
          font-size: 13px;
          line-height: 43px;
          color: #bead8e;
        }
      }
    }
  }
}

.duplex__room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  background-color: white;
  width: 100%;
  max-width: 350px;
  margin: auto;
  margin-top: -30px;
  margin-bottom: 40px;

  h3 {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 20px;
  }

  h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    color: #bead8e;
  }

  span {
    font-weight: 700;
    font-size: 13px;
    line-height: 43px;
    color: #bead8e;
  }
}

@media (min-width: 1000px) {
  .duplex__room {
    display: none;
  }
}

.video__div {
  background: #222;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h6 {
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 2.8px;
    color: #bdac8d;
    text-align: left;
    margin-left: 20px;
    padding-top: 40px;
  }

  h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: -1.2px;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 30px;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    color: #c2c2c2;
  }
  .video__container {
    width: 100%;
    video {
      width: 60%;
      margin-top: 40px;
      margin-left: 10px;
      max-width: 400px;
    }
  }

  button {
    margin-top: 46.8px;
    margin-left: 20px;
    color: white;
    background: #bead8e;
    border: none;
    padding: 21px 56px;
    letter-spacing: 3px;
    margin-bottom: 36px;
    margin-bottom: 55px;
  }
}

@media (min-width: 1000px) {
  .video__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    margin-top: 50px;

    div {
      width: 40%;
      margin-right: 0;
    }

    button {
      position: absolute;
      bottom: 130px;
    }

    .video__container {
      width: 40%;
      background-color: #bdac8d;
      margin-top: -20px;
      margin-right: -20px;
      margin-bottom: -20px;

      video {
        margin-top: 200px;
        margin-bottom: 160px;
        margin-left: -30%;
        min-width: none;
        source {
          height: 1500px;
        }
      }
    }
  }
}

.facilities__slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 90px;
  margin: auto;
  margin-left: 0;

  .slider__container3 {
    margin: auto;
    display: grid;
    grid-gap: 20px;
    margin-left: 0px;
  }

  h6 {
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #777777;
    text-align: center;
    margin-top: 60px;
  }

  h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1.2px;
    color: #222222;
    text-align: center;
    margin-top: 30px;
  }

  img {
    margin: 30px auto;
    width: 70%;
    max-width: 350px;
  }

  h4 {
    text-align: left;
    margin-left: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.9px;
    color: #222222;
  }

  p {
    text-align: left;
    margin-left: 35px;
    margin-right: 70px;
    font-style: normal;
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
  }
}

@media (min-width: 1000px) {
  .facilities__slider {
    margin: auto;
    margin-left: 40px;

    .slider__container3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 20px; // adjust as necessary
    }
  }
}

.facilities__slider-black {
  background-color: #222222;
  padding: 20px;
  padding-bottom: 60px;
  color: white;

  h6 {
    color: white;
  }
  h1 {
    color: white;
    margin-bottom: 25px;
  }
  div {
    background-color: #222222;
    padding-bottom: 30px;
    text-align: center;
    img {
      text-align: center;
    }
    h4 {
      color: white;
    }
    p {
      color: white;
    }
  }
}

.food__slider {
  position: relative;
  width: 100%;

  .button__div {
    margin-left: 60%;

    button {
      height: 40px;
      width: 40px;
      border: none;
    }
  }

  .egg__image {
    position: absolute;
    right: 0;
  }

  h6 {
    padding-top: 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #777777;
    margin-left: 20px;
    margin-bottom: 24px;
  }

  h1 {
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -1.2px;
    color: #222222;
  }

  .menu__page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 20px;

    div {
      display: flex;
      margin: 10px;
      width: 100%;
      align-items: center;

      img {
        height: 120px;
        width: 120px;
        margin-right: 20px; /* adjust as needed */
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        margin-top: 0px;
        margin-right: 10px;
        align-items: start;

        h5 {
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 24px;
          letter-spacing: -0.72px;
          color: #222222;
          margin: 0;
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: #222222;
          margin: 0;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .button__div {
    display: flex;
    position: absolute;
    top: 190px;
    right: 300px;
    button {
      margin-right: 30px;
    }
  }
}

.stats {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #222;

  div {
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;

    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 60px;
      line-height: 136.4%;
      text-align: center;
    }

    span {
      font-size: 14px;
    }

    p {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 136.4%;
      text-align: center;
      color: #999999;
    }
  }
}

@media (min-width: 1000px) {
  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
    p {
      margin: auto;
      width: 100%;
    }
  }
}
