.video__div {
  background: #222;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h6 {
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 2.8px;
    color: #bdac8d;
    text-align: left;
    margin-left: 20px;
    padding-top: 40px;
  }

  h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: -1.2px;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 30px;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    color: #c2c2c2;
  }
  .video__container {
    width: 100%;
    video {
      width: 60%;
      margin-top: 40px;
      margin-left: 10px;
      max-width: 400px;
    }
  }

  button {
    margin-top: 46.8px;
    margin-left: 20px;
    color: white;
    background: #bead8e;
    border: none;
    padding: 21px 56px;
    letter-spacing: 3px;
    margin-bottom: 36px;
    margin-bottom: 55px;
  }
}

@media (min-width: 1000px) {
  .video__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    margin-top: 50px;

    div {
      width: 40%;
      margin-right: 0;
    }

    button {
      position: absolute;
      bottom: 130px;
    }

    .video__container {
      width: 30%;
      background-color: #bdac8d;
      margin-top: -20px;
      margin-right: -20px;
      margin-bottom: -20px;
      video {
        margin-top: 200px;
        margin-bottom: 160px;
        margin-left: -50%;
        width: 1000px;
        min-width: none;
        height: 400px;
      }
    }
  }
}
