.luxury__div {
  background: #333;
  color: #ffffff;
  position: relative;
  h4 {
    text-align: left;
    font-size: 13px;
    margin-left: 20px;
    margin-right: 118px;
    line-height: 20px;
    padding-top: 75px;
    margin-bottom: 40px;
  }

  .button__div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  }

  h1 {
    margin-left: 20px;
    margin-right: 30px;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 40px;
    padding-bottom: 90px;
  }

  .button__tour {
    color: white;
    background-color: #bead8e;
    padding: 20px 38px;
    margin-left: 20px;
    margin-top: 24px;
    border: none;
  }

  .button__learn {
    border: 2px solid rgba(255, 255, 255, 0.33);
    color: white;
    background: transparent;
    margin-top: 24px;
    margin-left: 20px;
    padding: 20px 38px;
    margin-bottom: 76px;
  }

  .home__about {
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    width: 190px;
    padding: 20px 10px;
    font-weight: 600;
    border: none;
    text-align: center;
    right: 30px;
    bottom: 0px;
    span {
      margin-left: 3px;
    }
    .specific__luxury {
      color: #bead8e;
    }
  }
}

@media (min-width: 1000px) {
  .luxury__div2 {
    padding-bottom: -100px;
  }
  .luxury__div {
    padding-left: 13%;
    padding-top: 50px;
    position: relative;
    margin-bottom: 0;
    h1 {
      font-size: 80px;
      width: 60%;
      margin-top: -20px;
      padding-bottom: 250px;
    }
    h4 {
      font-weight: 100;
    }
    .button__div {
      top: 350px;
      display: flex;
      flex-direction: row;
      position: absolute;
      left: 13%;
      .button__learn {
        width: 800px;
      }

      .button__tour {
        width: 800px;
        margin-bottom: 76px;
      }
    }
  }
}
