.luxurybed {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: auto;
  box-shadow: 0px 14px 24px 0px rgba(184, 184, 184, 0.1);

  .bed__prices {
    position: relative;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    img {
      width: 100%;
      min-width: 150px;
    }
    .old__price {
      position: absolute;
      color: #bead8e;
      bottom: 25%;
      right: -3%;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      text-decoration: line-through;
    }
    span {
      font-weight: 700;
      font-size: 11px;
      line-height: 12px;
      text-decoration: none;
    }
  }
  .discounted__price {
    position: absolute;
    color: #de5777;
    bottom: 8%;
    right: -3%;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    span {
      font-weight: 700;
      font-size: 11px;
      line-height: 12px;
    }
  }

  h6 {
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #777777;
  }

  h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.44px;
    color: #222222;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin-left: 0px;
  }

  button {
    margin-top: 30px;
    color: white;
    background-color: #bead8e;
    padding: 20px 48px;
    margin: auto;
    margin-top: 30px;
    margin-left: 10px;
    border: none;
  }

  .amenities__offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 30px;
    width: 90%;

    .amenities__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 2 columns */
      grid-template-rows: repeat(7, 1fr); /* 7 rows */
      gap: 20px;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: -20px;
      margin-bottom: 30px;
      margin-left: -30px;
      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: -30px;
        font-size: 6px;
        p {
          font-size: 12px;
        }
        img {
          width: 20px;
          height: 20px;
          object-fit: cover;
          margin-top: 18px;
          margin-right: 18px;
        }
      }
    }
  }
}

.luxurybed__computer {
  display: none;
  position: relative;
}

@media (min-width: 1000px) {
  .luxurybed__computer {
    display: block;
    width: 90%;
    margin: auto;
    img {
      width: 100%;
      height: 500px;
    }
    .luxury__info__offers {
      position: absolute;
      width: 94%;
      border-top: 5px solid #bead8e;
      background-color: white;
      top: 85%;
      left: 3%;
      z-index: 1000;
      .price__div__luxury {
        .prices__offers {
          .old__price {
            color: #bead8e;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            text-decoration: line-through;
            span {
              font-weight: 700;
              font-size: 11px;
              line-height: 12px;
            }
          }
          .discounted__price {
            color: #de5777;
            font-weight: 700;
            font-size: 25px;
            line-height: 33px;
            margin-top: -30px;
            span {
              font-weight: 700;
              font-size: 11px;
              line-height: 12px;
            }
          }
        }
      }
    }

    .price__div__luxury {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: auto;
      padding-top: 20px;
      align-items: center;
    }
    .amenities__offers__line {
      width: 90%;
      margin: auto;
      height: 0.1px;
      background-color: #777777;
    }
    .paragraph__amenities {
      margin: auto;
      display: flex;
      justify-content: space-between;
      margin-right: 5%;
      .amenities__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        grid-template-rows: repeat(7, 1fr); /* 7 rows */
        margin-right: -120px;
        margin-left: 130px;
        gap: 0;
        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          align-items: center;
          font-size: 6px;
          margin-right: -50px;

          p {
            font-size: 12px;
            margin-bottom: 0;
            width: 300px;
          }
          img {
            width: 20px;
            height: 20px;
            object-fit: cover;
            margin-top: 18px;
            margin-right: 18px;
          }
        }
      }
      .paragraph {
        margin-right: -300px;
        margin-bottom: 0;
        button {
          margin-top: 30px;
          color: white;
          background-color: #bead8e;
          padding: 20px 48px;
          margin: auto;
          margin-top: -70px;
          margin-left: 6%;
          border: none;
          margin-bottom: 50px;
        }
      }
    }
  }
  .luxurybed {
    display: none;
  }
}

.popular__offers__black {
  display: flex;
  flex-direction: column;
  background-color: #222222;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
  position: relative;

  .slider__container__black {
    margin-bottom: 50px;
    .slider__rooms {
      img {
        width: 90%;
        margin: auto;
        max-width: 500px;
      }
      .wide__icons__black {
        position: relative;
        .rooms__icon__popular {
          background-color: white;
          display: flex;
          flex-direction: row;
          position: absolute;
          width: 300px;
          bottom: -4%;
          left: 19.4%;
          img {
            width: 30px;
          }
        }
      }
      .duplex__room__offers {
        width: 90%;
        margin: auto;
        padding-top: 0px;
        padding-bottom: 30px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: white;
        margin-bottom: 30px;
        max-width: 500px;
        text-align: center;
        h3 {
          font-weight: 400;
          font-size: 28px;
          line-height: 36px;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          margin: 20px;
        }
        h4 {
          font-weight: 700;
          font-size: 19px;
          line-height: 43px;
          color: #bead8e;
        }

        span {
          font-weight: 700;
          font-size: 19px;
          line-height: 43px;
          color: #bebebe;
        }
        div {
          padding-top: 30px;
        }
      }
    }
  }

  h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #bdac8d;
    margin-bottom: 50px;
  }

  h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.8px;
    color: #ffffff;
    margin-bottom: 40px;
  }
}
