.food__slider {
  position: relative;
  width: 100%;

  .button__div {
    margin-left: 60%;

    button {
      height: 40px;
      width: 40px;
      border: none;
    }
  }

  .egg__image {
    position: absolute;
    right: 0;
  }

  h6 {
    padding-top: 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #777777;
    margin-left: 20px;
    margin-bottom: 24px;
  }

  h1 {
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -1.2px;
    color: #222222;
  }

  .menu__page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 20px;

    div {
      display: flex;
      margin: 10px;
      width: 100%;
      align-items: center;

      img {
        height: 120px;
        width: 120px;
        margin-right: 20px; /* adjust as needed */
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        margin-top: 0px;
        margin-right: 10px;
        align-items: start;

        h5 {
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 24px;
          letter-spacing: -0.72px;
          color: #222222;
          margin: 0;
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: #222222;
          margin: 0;
        }
      }
    }
  }
}
