.rooms__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-gap: 20px;
  width: 90%;
  margin: auto;
  margin-left: 10px;
  .rooms__pagination {
    width: 90%;
    margin: auto;
    .rooms__div {
      .rooms {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 20px;
        width: 70%;
        img {
          width: 300px;
        }
      }
    }

    .rooms_page-booking {
      text-align: center;
      h3 {
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        margin: 20px;
        margin-bottom: 0px;
      }

      h4 {
        font-weight: 700;
        font-size: 32px;
        line-height: 43px;
        color: #bead8e;
        font-size: 20px;
      }
      span {
        font-size: 20px;
        color: gray;
      }
    }
  }
}

@media (min-width: 1000px) {
  .rooms__container {
    margin-top: -1300px;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    .rooms__pagination {
      width: 100%;
      margin: auto;
      .rooms_page-booking {
        width: 100%;
      }
      .rooms__div {
        .rooms {
          img {
            width: 300px;
          }
        }
      }
    }
  }
}

.counter {
  text-align: center;
  width: 100%;

  .slider__container {
    width: 100%;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

    .square {
      width: 40%;
      max-width: 400px;
    }

    div {
      display: flex;
      flex-direction: row; /* set the inner divs as row flex */
      margin-top: 30px;
      align-items: center;
      width: 80%;
      max-width: 400px;
      margin-bottom: 50px;
      div {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
