.square__slider {
  .slider__container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 70px;

    div {
      display: flex;
      justify-content: center;
      width: 100%;
      img {
        width: 50%;
        max-width: 400px;
        margin: auto;
      }
    }
  }
}

@media (min-width: 1000px) {
  .slider__container2.slick-initialized {
    display: none;
  }

  .square__slider {
    margin-top: 200px;
    margin-bottom: 150px;
    .slider__container2 {
      display: flex;
      justify-content: space-around;
    }
  }
}
