@use "header";
@use "home";
@use "footer";
@use "contact";
@use "about";
@use "rooms";
@use "details";
@use "blog";
@use "discovery";
@use "slider-container2";
@use "pagination";
@use "offers";
@use "luxury";
@use "blackfac";

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}
